<center><h1 id = "label">Hello <%= current_student.name %></h1></center>
<br/><br />

<div class ="wrapper">
<p>
  Today is <%= @current_time.strftime("%A") %>, <%= @current_time.strftime("%B") %> <%= @current_time.strftime("%d") %>, <%= @current_time.strftime("%Y") %> <br />
</p>

<% if !current_student.subjects.empty? %>
  <h3>You have completed:</h3><br />
  <% current_student.subjects.each do |subject| %>
    <%= subject.name %>
    <br />
  <% end %>
<% else %>
  <p>You haven't finished any homework today.</p>
<% end %>
<% if !current_student.lessons.empty? %>
  <h3>Today you practiced:</h3><br />
  <% current_student.lessons.each do |lesson| %>
    <%= lesson.name %>
    <br />
  <% end %>
<% else %>
    <p>You haven't studied any lesson today</p>
<% end %>
<br /><br />
<a href="/students/<%=current_student.id%>/edit">Need to make corrections or additions?</a>
<br /><br />
<form method="get" action='/students/logout'>
  <input type='submit' id='signout' value='Sign Out' name='signout' />
</form>
<br />
<form method="get" action="/students/<%=current_student.id%>/delete">
  <input id="delete" type="submit" name="delete" value="Want to delete your account?">
</form>
</div>
